
#container{
    height: 200px;
    width: 300px;
}

.blue{
    background-color: #00A9CE;
    height: 200px;  
}

.yellow{
    background-color: #FDDA25;
    height: 66px;
    position: relative;
    top: 66px;
}

.triangle-right{
    background-color: #000000;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 7px;
    border-right: 0px;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 150px solid black;
}
